.idea/

mfinance-cli/target/
mfinance-cli/logs/
mfinance-cli/*.iml

mfinance-core/target/
mfinance-core/logs/
mfinance-core/*.iml


mfinance-web/target/
mfinance-web/logs/
*.iml
*.log

mfinance-core/*.log
mfinance-web/*.log


