<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" name="mfinance">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%highlight{%d | %-10X{system} | %-18marker [%-5level] %-27logger{1.} [%t:%line] %enc{%msg}%n%throwable}{FATAL=white, ERROR=red, WARN=yellow, INFO=white, DEBUG=green, TRACE=cyan}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.infoshareacademy.web" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="MainLogger"/>
        </Root>
    </Loggers>
</Configuration>